body {
  padding-bottom: 5rem;
}

header {
  height: 15vh;
  justify-content: center;
  text-align: center;
}
.demo-layout-transparent {
  background-color: rgb(63, 81, 181) center/ cover;
}

h1 {
  padding-top: 1em;
  padding-left: 1rem;
  color: White;
}

form {
  padding-top: 2em;
  padding-left: 2em;
}
